[submodule "taxonomy"]
	path = taxonomy
	url = https://github.com/nicklamb97/taxonomy.git
[submodule "generated"]
	path = generated
	url = https://github.com/nicklamb97/generated.git
[submodule "instructlab_generated"]
	path = instructlab-generated
	url = https://github.com/nicklamb97/instructlab-generated.git
